<!doctype html>
<html>
  <head>
    <title>Print Queue</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Print Queue</h1>

      {{#if message}}
        <p class="alert msg">{{message}}</p>
      {{/if}}
      {{#if errors}}
        {{#each errors}}
          <p class="alert msg">
            {{this}}
          </p>
        {{/each}}
      {{/if}}

      {{{body}}}
    </div>
  </body>
</html>
