<!doctype html>
<html>
  <head>
    <title>Print Queue</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
