<!doctype html>
<html>
  <head>
    <title>Print Queue</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><a href="/">Print Queue</a></h1>
      <marquee style="color: red; font-size: 30px">Sorry, new submissions
      probably won't get printed</marquee>

      {{#if message}}
        <div class="alert alert-info">
          {{message}}
        </div>
      {{/if}}
      {{#if errors}}
        {{#each errors}}
          <div class="alert alert-danger">
            {{this}}
          </div>
        {{/each}}
      {{/if}}

      {{{body}}}
    </div>
  </body>
</html>
