extends layout

block content
  h1 Print Queue Admin
  ul(class='menu')
    li
      form(action='/admin/queue?_method=DELETE', method='post')
        input(type='submit', value='Clear Queue')
  ul
    each item in queue
      li= item
