<form action="/admin/queue?_method=DELETE" method="post">
  <input type="submit" value="Clear Queue" />
</form>


<table>
  <tr>
    <th>When</th>
    <th>Email</th>
    <th>URL</th>
    <th>Status</th>
    <th>Update</th>
  </tr>
  {{#each queue}}
    <tr>
      <td>{{timestamp}}</td>
      <td>{{email}}</td>
      <td>{{url}}</td>
      <td>{{status}}</td>
      <td><input type="submit" value="Update" /></td>
    </tr>
  {{/each}}
</table>
