  <table class="table table-hover admin">
    <thead>
      <tr>
        <th>When</th>
        <th>Email</th>
        <th>URL</th>
        <th>Status</th>
        <th>Notified?</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: jobs">
        <tr data-bind="attr: { 'class': status }">
          <td data-bind="attr: { 'data-livestamp': timestamp / 1000 }"></td>
          <td data-bind="text: email"></td>
          <td data-bind="text: url"></td>
          <td class="update">
            <form class="form-inline"
                  role="form"
                  method="post"
                  data-bind="attr: { 'action': '/admin/queue/' + id + '/?_method=PATCH', }">
              <select data-bind="value: status, attr: { 'class': status }, css: { 'form-control': true, 'input-sm': true, status: true }" name="status">
                    <!-- need to figure out how to get this list pulling from a dynamic list again -->
                    <option value="pending">pending</option>
                    <option value="printing">printing</option>
                    <option value="queued">queued</option>
                    <option value="rejected">rejected</option>
              </select>
              <button type="submit" class="btn btn-default btn-xs">Update</button>
            </form>
          </td>
          <td>
              <span data-bind="visible: notified">Yes</span>
              <form class="form-inline" role="form" data-bind="visible: (notified() == false), attr: { 'action': '/admin/notify/' + id }" method="post">
                <button type="submit" class="btn btn-default btn-xs">Notify</button>
              </form>
        </tr>
    </tbody>
  </table>

<script>
  var jobData = {};
  {{#if queue}} jobData = {{{json queue}}}; {{/if}}
</script>

<script type="text/javascript" src="/javascripts/admin.js"></script>
