extends layout

block content
  h1= title
  form(action='/', method='post')
    input(type='text', name='queue')
    input(type='submit', value='Add to queue')
  ul
    each item in queue
      li= item
