extends layout

block content
  h1 Print Queue
  form(action='/', method='post')
    label(for='url') URL to print:
    input(type='text', name='queue[url]')
    br
    label(for='email') Your email address:
    input(type='text', name='queue[email]')
    input(type='submit', value='Add to queue')
  h2 Current queue
  ul
    each item in queue
      li= item
