<div class="user-well">
    <a href="/logout" alt="Sign out" data-bind="if: email.length">Sign out</a>
    <a href="/login" alt="Sign In" data-bind="ifnot: email.length">Sign In</a>
</div>

{{#queueItem}}
  {{> queueItem}}
{{else}}
  {{> queueItem}}
{{/queueItem}}


<h2>Current Queue</h2>
  <table id="user-queue" class="table table-hover" data-bind="if: (jobs().length)">
    <thead>
      <tr>
        <th>When</th>
        <th>URL</th>
        <th>Amount</th>
        <th>Status</th>
        <th data-bind="if: email.length"></th>
        <th data-bind="if: email.length"></th>
      </tr>
    </thead>
    <tbody data-bind="foreach: jobs">
        <tr>
          <td data-bind="attr: { 'data-livestamp': timestamp / 1000 }"></td>
          <td><a data-bind="text: url, attr: { 'href': url }"></a></td>
          <td data-bind="text: amount"></td>
          <td data-bind="text: status, attr: { 'class': status }"></td>
          <td data-bind="if: ($parent.email.length)">
            <!-- ko if: ($parent.email == email && status != 'queued') -->
              <a href="#"
                 class="btn btn-xs btn-info"
                 data-bind="text: 'Edit', attr: { 'href': 'queue/' + id }"></a>
            <!-- /ko -->
          </td>
          <td>
            <!-- ko if: ($parent.email == email && status != 'queued') -->
              <form class="form-inline"
                    role="form"
                    action="#"
                    method="post"
                    data-bind="attr: { action: '/queue/' + id + '?_method=DELETE' }">
                  <button type="submit" class="btn btn-danger btn-xs" data-bind="text: '&times;'"></button>
              </form>
            <!-- /ko -->
          </td>
        </tr>
    </tbody>
  </table>

  <p data-bind="ifnot: (jobs().length)">Queue empty!</p>

<script>
  var jobData = {};
  var email = '';
  {{#if queue}} jobData = {{{json queue}}}; {{/if}}
  {{#if email}} email = "{{email}}"; {{/if}}
</script>

<script type="text/javascript" src="/javascripts/index.js"></script>
