doctype html
html
  head
    title Print Queue
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    div.container
      block content
