@import 'bootstrap.css';
@import 'tipsy.css';

h1, h2 {
  text-align: center;
}

.user-well {
  text-align: center;
  padding: 9px;
  border-radius: 3px;
  min-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  width: 100px;
  margin: 0 auto 25px auto;
}

table.admin tbody td {
  vertical-align: middle;
}

table form .btn-danger {
  color: #fff;
}

table form .btn-danger:hover {
  background-color: #d43f3a;
}

table form .updatebtn {
  padding-left: 5px;
}

table form select {
  width: 95px;
}

/* fixing weird bug, not sure selects work well with bootstrap styles */
table form select {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

table select.printing {
  background-color: #dff0d8;
}

table select.queued {
  background-color: #d9edf7;
}

table select.pending {
  background-color: #fffffe;
}

table select.rejected {
  background-color: #f2dede;
}

.toggles {
  text-align: right;
}
